.dashboard {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: flex-end;
}

input {
  padding: 8px;
  height: fit-content;
  flex: 1;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:hover {
  cursor: pointer;
  background: #f1f5f9;
}

.completed {
  color: gray;
  text-decoration: line-through;
}